/* CSS for Module 3 Assignment */
/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: "Oxygen", serif;
  margin: 0;
}

body {
  font-size: 16px;
  color: black;
}

#menu-heading {
  font-size: 2em;
  margin-bottom: 15px;
  margin-top: 15px;
}

h1, h3 {
  font-weight: bold;
}

div.content-wrapper {
  position: relative;
  background-color: #999999;
  border: 1px solid black;
  margin: 15px;
}

div.title-wrapper {
  padding-bottom: 2.5em;
}

p {
  color: black;
  padding: 0px 25px 5px 25px;
}

/** HEADER **/
#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-brand {
  color: black;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  height: 80px;
}

.navbar-default:hover .navbar-brand:hover {
  color: #e7e7e7;
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

#nav-list a {
  color: black;
  background-color: #6f7bb3;
}

#nav-list a:hover {
  background-color: #e7e7e7;
}

.navbar-header {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}

.navbar-header h1 {
  padding-left: 40px;
}

ul#nav-list li {
  border-bottom: 2px solid black;
  font-weight: bold;
}

#collapsable-nav {
  background-color: white;
}

#collapsable-nav a { /* Collapsed nav menu text */  
  font-size: 1.2em;
}
/* END HEADER */
