<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>    
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div ng-controller="LunchCheckController" class="container text-center">
     <h1>Lunch Checker</h1>
          <p><strong>Note</strong>: An empty item is not counted towards the lunch item check i.e. ', ,' or ',,' </p>
          <div class="form-group">
              <input id="lunch-menu" type="text"
              ng-model="lunchList"
              placeholder="list comma separated dishes you usually have for lunch"
              class="form-control">
          </div>
          <div class="form-group">
              <button ng-click="checkLunchList()" class="btn btn-default">Check If Too Much</button>
          </div>
          <div class="form-group message {{messageClasses}}">
            {{message}}
          </div>
   </div>
</body>
</html>
